### OSX ###
# General
*~
.DS_Store
.AppleDouble
.LSOverride
Study/fe64_day2_css_homework/.DS_Store
Study/fe64_day2_css_homework/homework-1/.DS_Store
Study/fe64_day2_css_homework/homework-3/.DS_Store
Study/fe64_day2_css_homework/FE64_B\303\200I T\341\272\254P CSS CH\303\215NH (VUS)_NGUYEN HUYNH CONG MINH.zip
Study/fe64_day2_css_homework/FE64_B\303\200I T\341\272\254P PH\341\273\244 1_ NGUYEN HUYNH CONG MINH.zip
# Icon must end with two \r
Icon

*/*.zip
# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace