body {
  margin: 0;
}
h1 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 3em;
  line-height: 0;
}

/* start header navigation */
nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
  padding-right: 50px;
  color: rgb(101, 190, 230);
  font-weight: 500;
  font-size: 17px;
}
nav ul li {
  margin-right: 30px;
}
nav > ul > li:first-child {
  color: red;
}
/* end header navigation */

/* start header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
}
header img {
  width: 100%;
}
#logo,
#header_hero-content {
  position: absolute;
}
#logo {
  top: 0;
  transform: translate(40%, -66.5%);
  line-height: 0px;
}
#logo h1 {
  color: orangered;
  font-size: 3.6rem;
  font-weight: 500;
  -webkit-margin-after: 0.55em;
}
#logo p {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  padding-left: 1rem;
}

#header_hero-content {
  top: 25%;
  right: 5%;
  text-align: right;
  color: rgb(47, 47, 47);
}
#header_hero-content h1,
#header_hero-content p {
  background-color: rgba(210, 210, 210, 0.33);
  display: inline;
}
#header_hero-content h1 {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 2;
}
#header_hero-content p {
  line-height: 2rem;
  letter-spacing: 6px;
}
#header_intro {
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgb(76, 206, 230);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
#header_intro h2 {
  color: rgb(47, 47, 47);
  background-color: rgba(210, 210, 210, 0.33);
  width: max-content;
  -webkit-margin-after: 0;
}
#header_intro p {
  color: grey;
}

/* end header */

/* start welcome */
#welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px;
}
#welcome > p {
  max-width: 500px;
}

#welcome_content {
  display: flex;
  flex-direction: row;
}
#welcome_content_left,
#welcome_content_right {
  display: flex;
  flex-direction: column;
}
#welcome_content img {
  width: 100%;
  height: 300px;
}
#welcome_content i {
  font-size: 25px;
  padding: 20px;
  color: lightblue;
}
#welcome_content_right > div,
#welcome_content_left > div {
  display: flex;
  flex-direction: row;
  text-align: left;
}

/* end welcome */

/* start ourwork */
#ourwork {
  padding-left: 30px;
  padding-right: 30px;
}
#ourwork,
#ourwork div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ourwork div {
  flex-direction: row;
  flex: content;
}
#ourwork img {
  width: 33%;
}
/* end ourwork */

/* start succes */
#sc-with-us,
#sc-with-us_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
#sc-with-us_content {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}
#sc-with-us_content_left {
  flex-basis: 60%;
}
#sc-with-us_content_right {
  flex: 1;
  background-image: url("../img/index-serives.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 2em;
  font-size: 1rem;
  line-height: 3rem;
  color: white;
  text-transform: capitalize;
}
#sc-with-us_content_right ol {
  list-style-type: none;
  counter-reset: li;
}
#sc-with-us_content_right ol li {
  counter-increment: li;
}
#sc-with-us_content_right ol li::before {
  content: counter(li);
  color: rgb(100, 195, 226);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 1em;
  font-size: 1.5em;
}
#sc-with-us_content_left div li {
  list-style: none;
}
#sc-with-us_content_left div li::before {
  content: "\203A";
  color: rgb(100, 195, 226);
  display: inline-block;
  width: 1em;
  font-size: 1.5em;
}
/* end success */

/* start footer */
footer {
  padding: 2rem;
  background-color: #222222;
  color: white;
}
footer p {
  color: grey;
}
footer ul {
  color: grey;
  list-style: none;
  padding: 0;
  line-height: 2em;
}
#footer_container {
  display: flex;
  flex-direction: row;
}
#footer_container_left,
#footer_container_right {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}
#footer_container_left div,
#footer_container_right div {
  display: flex;
  flex-direction: column;
  flex: 0.3;
}
div#footer_container_right div:first-child {
  flex: 0.5;
}
div#footer_container_right div:last-child {
  flex: 0.4;
  justify-content: center;
}
div#footer_container_right div#footer_logo h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
div#footer_container_right div#footer_logo p {
  font-size: 0.9rem;
}
div#footer_container_right div#footer_logo a:link,
div#footer_container_right div#footer_logo a:visited {
  color: red;
}
div#footer_container_right div#footer_logo * {
  margin: 0.3rem;
}
form {
  display: flex;
}
form button {
  color: white;
  background-color: tomato;
  border: 0;
  margin: 0;
}
form input {
  width: 80%;
  padding: 5px;
  margin: 0;
}
/* end footer */
