* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.popover {
  max-width: 350px !important;
  .popover-body {
    padding: 0;
  }
}
.tooltip > .arrow {
  display: none;
}
.tooltip > .tooltip-inner {
  background-color: transparent !important;
  width: 400px;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1405px;
    width: 100%;
  }
}
button:focus {
  outline: none;
}
.modal-dialog {
  margin: 0;
  width: 80%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.modal-content {
  height: 100%;
  overflow-y: auto;
}
.fade-left .modal-dialog {
  left: -320px;
  transition: all 1s;
}
.fade-left.show .modal-dialog {
  left: 0;
}
#modal {
  .dropdown-menu {
    position: unset;
  }
}
.dropdown-item {
  display: flex;
  align-items: center;
  height: 30px;
  i {
    margin-right: 20px;
    width: 15px;
  }
}
