header {
    .navbar {
        background-color: white;
        font-size: 13px;
        color: #505763;
        .header__left {
            .navbar-brand {
                img {
                    width: 100px;
                }
                flex-grow: 1;
            }
            .categories {
                flex-grow: 1;
            }
            .search-box {
                flex-grow: 5;
                @include form;
            }
        }
        .header__right {
            a.nav-link {
                color: #505763;
                white-space: nowrap;
            }
            .btn-login {
                border: 1px solid #686f7a;
                border-radius: 0;
                text-transform: capitalize;
                white-space: nowrap;
                color: #686f7a;
                &:hover {
                    border-color: black;
                    color: black;
                }
            }
            @include btn-signup;
            .cart {
                border-left: 1px solid #ced4da;
            }
        }
    }
}