#discovery {
  .col-xl-4 {
    background-color: #f7f8fa;
    color: #686f7a;
    min-height: 350px;
    h2 {
      font-size: 1.4rem;
    }
  }
  .col-md-10 {
    .nav {
      .nav-item {
        .nav-link {
          font: 100;
        }
      }
    }
    #myTabContent {
      .item {
        @include best-seller;
        .best-seller {
          position: absolute;
          top: 20px;
          left: 0;
        }

        .card {
          .card-body {
            .card-title {
              a {
                font-size: 1rem;
                color: black;
                font-weight: bold;
                div {
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                }
              }
            }
            .card-text {
              font-size: 0.8rem;
            }
            .rating {
              margin-top: 1rem;
              i {
                color: #f4c150;
              }
              .total-rate {
                color: #686f7a;
                font-size: 0.8rem;
              }
            }
          }
          .cost {
            color: black;
            text-align: right;
            font-weight: bold;
            .real-cost {
              color: #686f7a;
              text-decoration: line-through;
              margin-right: 10px;
              font-size: 0.8rem;
            }
          }
        }
      }
      .owl-nav {
        position: absolute;
        top: 50%;
        display: flex;
        width: 105%;
        justify-content: space-between;
        .owl-prev {
          visibility: hidden;
        }
        .owl-next {
          background: white;
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
          border-radius: 50%;
          width: 50px;
          height: 50px;
          border: 2px solid transparent;
          span {
            font-size: 2rem;
            color: #007791;
          }
        }
      }
    }
  }
}
