@mixin form {
    .form-control {
        border: none;
        background-color: #e3e9ee;
        border-radius: 0px;
        font-size: 13px;
        &:focus {
            box-shadow: none;
            border-color: #ced4da;
        }
    }
    .input-group-text {
        color: #ec5252;
        background: #e3e9ee;
        border-radius: 0;
        border: none;
        font-size: 13px;
        &:hover {
            background-color: #ec5252;
            color: white;
            cursor: pointer;
        }
    }
}

@mixin best-seller {
    .best-seller {
        background: #f4c150;
        padding: 4px 12px 4px 8px;
        clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.6rem;
    }
}

@mixin btn-signup {
    .btn-signup {
        background-color: #ec5252;
        border-radius: 0;
        color: white;
        text-transform: capitalize;
        white-space: nowrap;
        &:hover {
            background-color: #992337;
        }
    }
}