@mixin form {
    .form-control {
        border: none;
        background-color: #e3e9ee;
        border-radius: 0px;
        font-size: 13px;
        &:focus {
            box-shadow: none;
            border-color: #ced4da;
        }
    }
    .input-group-text {
        color: #ec5252;
        background: #e3e9ee;
        border-radius: 0;
        border: none;
        font-size: 13px;
        &:hover {
            background-color: #ec5252;
            color: white;
            cursor: pointer;
        }
    }
}