.container {
    display: flex;
    color: white;
    .left {
        @include block(70%, red);
    }
    .right {
        @include block(30%, blue);
    }
    &:hover {
        .left {
            @include block(30%, blue)
        }
        .right {
            @include block(70%, red)
        }
    }
}

.container2 {
    @if $blockColor==red {
        background-color: red;
    }
    @else if $blockColor==green {
        background-color: green;
    }
    @else {
        background-color: orange;
    }
}