h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px
}

li {
    list-style: none;
}

button:focus {
    outline: none;
}

.navbar-brand {
    color: #868c94;
    font-size: 2rem;
    font-weight: 600;
}

.navbar-brand span {
    color: #7f67f8;
    font-size: 2.5rem;
}

.fa-bars {
    font-size: 1.5rem;
    transform: translateY(15%);
}

button.navbar-toggler {
    background-color: #7f67f8;
}

.nav-link,
.nav-link:visited,
.nav-link:link {
    color: #363d41;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s;
}

.nav-item.active .nav-link,
.nav-link:focus,
.nav-item:hover {
    color: #7f67f8;
}

.nav-item:hover .nav-link {
    color: #7f67f8;
}

#carousel {
    background: url('../images/b1.jpg');
    background-size: cover;
}

#slider {
    background-color: rgba(0, 0, 0, 0.4);
}

#carousel .carousel__content {
    min-height: 700px;
}

#carousel .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

#carousel .carousel-caption h3 {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 1.6;
}

.btn-trans,
.btn-purple {
    width: 130px;
    color: white;
    border: 1px solid;
    border-radius: 0;
    text-transform: capitalize;
    padding: .5rem 1.5rem;
}

.btn-purple,
.btn-trans:hover {
    background-color: #7f67f8;
    border: #7f67f8 solid 1px !important;
}

.btn-purple:hover {
    border: 1px solid white !important;
    background-color: transparent;
    color: white;
}

#carousel .carousel-indicators {
    bottom: 20%;
}

#carousel .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 1;
    background-color: #7f67f8;
}

#carousel .carousel-indicators li.active {
    background-color: white;
}

#whats h1,
#stats h1 {
    font-size: 3.5rem;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
}

#whats i,
#stats b {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #f97c69;
}

#whats h3,
#stat h3 {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#whats .container>.row,
#stats .container>.row {
    border-bottom: 1px solid #e8e8e8;
}

#whats .container .row:last-child .col-12:nth-child(2),
#stats .container .row:last-child .col-12:nth-child(2) {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

#whats p,
#stats p {
    color: #777;
}

#cta {
    background: url('../images/3.jpg');
    background-size: cover;
    background-position: center;
}

#cta h1 {
    letter-spacing: 4px;
}

#cta button {
    letter-spacing: 2px;
    padding: 0.5rem .5rem;
}

#cta .orange-hover:hover {
    background-color: #f97c69;
    border-color: #f97c69 !important;
}

@media (max-width: 575px) {
    .nav-link,
    .nav-link:visited,
    .nav-link:link {
        color: white;
    }
    .navbar-nav {
        background-color: black;
    }
    #collapsibleNavbar {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 11;
    }
    .carousel__content {
        min-height: 350px;
    }
    .carousel-caption {
        width: 80%;
        top: 40%;
        left: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }
    .carousel-caption h3 {
        font-size: 1.2rem;
        letter-spacing: normal;
        word-spacing: normal;
    }
    .carousel-indicators {
        bottom: 10px;
    }
    #whats h1,
    #stats h1 {
        font-size: 2.3rem;
    }
    #whats .container .row:last-child .col-12:nth-child(2),
    #stats .container .row:last-child .col-12:nth-child(2) {
        border: none;
    }
    #stats h3 {
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 1rem;
    }
    #cta h1 {
        letter-spacing: 1px;
        font-size: 2rem;
    }
}