* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}
a:hover {
  color: #ff0e83;
}
button:focus {
  border: none;
  outline: none;
}
header {
  background-color: #4e2a84;
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  top:0;
}
header > div {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}
.header__brand {
  color: white;
  text-decoration: none;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline;
  margin: 0 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all 0.5s;
}

.navbar ul li.active a {
  color: #e45982;
}

.navbar ul li:hover a {
  color: #e45982;
}

#carousel {
  background-image: url("./../images/b3.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 88px;
}

#carousel .carousel__content {
  color: white;
  text-align: center;
  letter-spacing: 0.3rem;
}

#carousel .carousel__content h1 {
  font-size: 4rem;
}

#carousel .carousel__content p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.btn {
  background-color: #e45982;
  border: 1px solid white;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.5s;
  margin: 2rem;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid #e45982;
}

#intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.intro__item {
  display: flex;
}
#intro .intro__item.img__1 {
  grid-column: 2 / span 2;
}
#intro .intro__item img {
  width: 100%;
}
.intro__item__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #c1c1c1;
  padding: 0 4rem;
  line-height: 2.5rem;
}
.intro__item__content h1 {
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 5.5rem;
  color: white;
}
.blue {
  background-color: #4e2a84;
}
.blue-dark {
  background-color: #836eaa;
}
.blue p,
.pink p {
  color: grey;
  letter-spacing: 0.2rem;
}
.pink {
  background-color: #ff0e83;
}
.pink-dark {
  background-color: #ed6498;
}

.span12 {
  grid-column: 1 / span 2;
}
.span32 {
  grid-column: 3 / span 2;
}
#counter {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0;
  text-align: center;
  line-height: 2;
}
#counter div p,
#counter div span {
  font-size: 2rem;
  font-weight: 600;
}
#counter div span {
  color: #4e2a84;
}
#services {
  background-image: url("../images/s1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3rem;
  line-height: 2;
}
#services h1 {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.services__item {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 3rem;
}
.services__item__content {
  padding: 0 3rem;
}
.services__item__content h3 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 400;
}
.services__item__content p {
  font-size: 1.2rem;
}
.services__item__content__icon {
  background-color: white;
  color: #4e2a84;
  border: 1px #4e2a84 solid;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.services__item__content__icon:hover {
  color: #e45982;
}
.services__item__content__icon span {
  font-size: 5rem;
}
#gallery {
  padding: 0 0 5rem 0;
}
#gallery > h1, #contact > h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 5rem 0;
  font-size: 4rem;
}
.gallery__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.gallery__content__item {
  display: flex;
  /* margin: 1rem; */
  position: relative;
}
.gallery__content__item img {
  width: 100%;
}
.gallery__content__item__text {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  width: 100%;
  height: 100%;
  padding: 4rem 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.144);
}
.onhover {
  transform: translate(0px, 50px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.gallery__content__item a {
  width: 100%;
}
.gallery__content__item__text:hover .onhover {
  transform: translate(0px, 0px);
  visibility: visible;
  opacity: 1;
}

.gallery__content__item__text div h1 {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 2;
  transform: translate(0px, 30px);
  transition: all 0.4s;
}
.gallery__content__item__text div h1 span {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 200;
}
.gallery__content__item__text:hover div h1 {
  transform: translate(0px, 0px);
}
.gallery__content__item__text p {
  text-transform: uppercase;
}
hr {
  border: 2px solid white;
}
#team {
  padding: 5rem 10rem;
  background-color: #4e2a84;
}
#team > h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  line-height: 3;
}
.team__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.team__person {
  background-size: cover;
  color: white;
  position: relative;
}
.team__person img {width: 100%;}
.team__person:hover .team__person__info {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}
.team__person:hover .team__person__tag {
  opacity: 0;
}
.team__person__info {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  transition: all 1s;
  line-height: 2;
  position: absolute;
  top: 0;
}
.team__person__tag {
  position: absolute;
  bottom: 0;
  background: #ff0e83;
  width: 100%;
  padding: 2rem;
  transition: all 1s;
}
.team__person__info h2,
.team__person__tag h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #ff0e83;
}
.team__person__tag h2 {
  color: white;
}
.team__person__info span,
.team__person__info p,
.team__person__tag span {
  font-size: 1.2rem;
}
.team__person__info p a i {
  font-size: 1rem;
  padding: 1rem;
  border: solid 1px;
  margin: 0 0.4rem;
}

#testi {
  background-image: url('../images/cc1.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5rem 2rem;
}
#testi > h1 {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 2;
}
.owl-carousel {
  width: 80%;
  align-self: center;
  border: solid 3px #ff0e83;
  background-color: rgb(255 255 255 / 55%);
  padding: 2rem;
}

.owl-carousel .item .item__content {
  color: #272727;
}
.owl-carousel .item .item__content i {
  color:#1ebeff;
  font-size: 2rem;
  margin: 0 1rem;
}
.owl-carousel .item .item__content p {
  display: inline;
  font-size: 1.5rem;
  word-spacing: 3px;
  line-height: 2;
}
.owl-carousel .item .item__content h2 {
  line-height: 3;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: black;
}
.owl-theme .owl-dots .owl-dot span{
  background: grey;
}

.contact__form{
  width: 80%;
  margin: auto;
}
.contact__form form {
  display: flex;
  flex-direction: column;
}
.contact__form form div {
  display: flex;
  justify-content: space-between;
}
.contact__form form div input {
  flex-basis: 49%;
  margin: 0.5rem 0;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1.4rem;
  border: solid 1px rgb(59,59,59);
  transition: all 0.5s;
}
.contact__form form div input:focus, .contact__form form textarea:focus {
  outline: none;
  border: solid 1px rgb(59,59,59);
  box-shadow: 0 0px 2px 2px #1abcfc;
}
.contact__form form textarea {
  height: 300px;
  margin: 0.5rem 0;
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 1.5rem;
  transition: all 0.5s;
}
.contact__form form button {
  color: black;
  background-color: #ff0e83;
  border-radius: 2px;
  border: none;
  padding: 0.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
  transition: all 0.5s;
}
.contact__form form button:hover {
  background-color: #272727;
  color: white;
  cursor: pointer;

}
.contact__map {
 padding: 3rem 5rem;
}
.contact__info {
  display: flex;
  justify-content: space-around;
}
.contact__info .col-3{
  width: calc(90%/3);
  text-align: center;
  line-height: 3;
}
.contact__info .col-3 i {
  font-size: 2.5rem;
  color: #4e2a84;
}
.contact__info .col-3 p {
  font-size: 1.5rem;
  color: grey;
}

