*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
a:link{
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-around;
}
header > div:last-child {
    width: 80%;
}
header > div > a {
    font-size: 3rem;
}
.information {
    display: flex;
    justify-content: flex-end;
}
.information__details, .information__details ul li {
    display: inline-block;
    margin: 0 1rem;
}
nav {
    display: flex;
    justify-content: flex-end;
}
nav div {
    margin: 0 5rem;
}
nav div div, nav div div ul li {
    display: inline-block;
    margin: 0 1rem;
}