#feedback {
    img {
        max-width: 100%;
        height: auto;
    }
    .owl-nav {
        position: absolute;
        display: flex;
        width: 102%;
        justify-content: space-between;
        top: 50%;
        left: 0%;
        transform: translate(-1%,-50%);
        .owl-prev {
            i {
                font-size: 2rem;
                color: $orange;
            }
        }
        .owl-next {
            @extend .owl-prev;
        }
    }
}